<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Expresse Movies</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="central">
        <%- include ('partials/header.ejs') %>
        <h1>Express Movies : détails du film : <%= movietitle%> </h1>
        <div>
            <%= movieid %>
        </div>
        <%- include ('partials/footer.ejs') %>
    </div>
</body>

</html>